#calendarEvent {
  padding: 0 1.25rem;
  height: 100%;

  .mainTable {
    margin-top: 2rem;
  }

  .eventDateBox,
  .showDateBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 117px;
  }

  .dateLine {
    width: 1px;
    height: 10px;
    border-radius: 4px;
    background: #898b8d;
  }

  .inputBox {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    .inputTitle {
      width: 120px;
      text-align: right;
      margin-right: 1rem;
    }
  }

  .relatedCheck {
    margin-bottom: 1rem;
  }

  .changeInputBox {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .changeInputTitle {
    width: 100px;
  }

  .fileName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .downloadBtn {
    width: 100px;
    padding: 0;

    p {
      padding: 8px 8px;
    }

    .fas {
      margin-right: 0.5rem;
      // transition: 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .noFiles {
    color: red;
    font-size: 13px;
  }

  // element UI
  .el-scrollbar__bar.is-vertical > div {
    background-color: #c4c4c4;
  }

  .el-scrollbar__wrap {
    height: 500px;
  }

  .selectBox {
    .el-select {
      margin-right: 1rem;
    }
  }
}
