.el-submenu__icon-arrow {
  top: 56% !important;
  right: 10px !important;
}

.el-menu {
  transition: 0.5s;
  @include bg_color($background-color-theme1);
}

.el-submenu__title:hover {
  transition: 0.5s;
  @include bg_color($background-color-theme1);
}

.el-menu-item:hover,
.el-menu-item:focus {
  transition: 0.5s;
  @include hover_darken($background-color-theme1);
}
