@mixin rwd($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

// @include rwd($sm) {
//     height: 60px;
//     line-height: 60px;
//   }

@mixin bg_color($color) {
  background-color: $color;
  [data-theme="theme1"] & {
    background-color: $background-color-theme1;
  }
  [data-theme="theme2"] & {
    background-color: $background-color-theme2;
  }
}

@mixin btn_outline($color) {
  background-color: #fff;
  color: $color;
  border-color: $color;
  transition: 0.5s;
  font-family: "微軟正黑體";

  &:hover,
  &:focus {
    background-color: $color;
    color: #fff;
    border-color: $color;
  }
  [data-theme="theme1"] & {
    background-color: #fff;
    color: $background-color-theme1;
    border-color: $background-color-theme1;
    transition: 0.5s;
    font-family: "微軟正黑體";

    &:hover,
    &:focus {
      background-color: $background-color-theme1;
      color: #fff;
      border-color: $background-color-theme1;
    }
  }
  [data-theme="theme2"] & {
    background-color: #fff;
    color: $background-color-theme2;
    border-color: $background-color-theme2;
    transition: 0.5s;
    font-family: "微軟正黑體";

    &:hover,
    &:focus {
      background-color: $background-color-theme2;
      color: #fff;
      border-color: $background-color-theme2;
    }
  }
}

@mixin btn_contain($color) {
  background-color: $color;
  color: #fff;
  border-color: $color;
  transition: 0.5s;
  font-family: "微軟正黑體";

  &:focus {
    background-color: $color;
    color: #fff;
    border-color: $color;
  }

  &:hover {
    background-color: lighten($color, 10%);
    color: #fff;
    border-color: $color;
  }
  [data-theme="theme1"] & {
    background-color: $background-color-theme1;
    color: #fff;
    border-color: $background-color-theme1;
    transition: 0.5s;
    font-family: "微軟正黑體";

    &:focus {
      background-color: $background-color-theme1;
      color: #fff;
      border-color: $background-color-theme1;
    }

    &:hover {
      background-color: lighten($background-color-theme1, 10%);
      color: #fff;
      border-color: $background-color-theme1;
    }
  }
  [data-theme="theme2"] & {
    background-color: $background-color-theme2;
    color: #fff;
    border-color: $background-color-theme2;
    transition: 0.5s;
    font-family: "微軟正黑體";

    &:focus {
      background-color: $background-color-theme2;
      color: #fff;
      border-color: $background-color-theme2;
    }
    &:hover {
      background-color: lighten($background-color-theme2, 10%);
      color: #fff;
      border-color: $background-color-theme2;
    }
  }
}

@mixin border_color(
  $size: 1px,
  $type: solid,
  $color: $background-color-theme1
) {
  border: $size $type $color;
  [data-theme="theme1"] & {
    border: $size $type $background-color-theme1;
  }
  [data-theme="theme2"] & {
    border: $size $type $background-color-theme2;
  }
}

@mixin hover_darken($color) {
  background-color: darken($color, 5%);
  [data-theme="theme1"] & {
    background-color: darken($background-color-theme1, 5%);
  }
  [data-theme="theme2"] & {
    background-color: darken($background-color-theme2, 5%);
  }
}

@mixin hover_lighten($color) {
  background-color: lighten($color, 5%);
  [data-theme="theme1"] & {
    background-color: lighten($background-color-theme1, 5%);
  }
  [data-theme="theme2"] & {
    background-color: lighten($background-color-theme2, 5%);
  }
}
