$color-primary: #2f3e52;
// 主色
$background-color-theme1: #2f3e52;
$background-color-theme1: #1a4047;
$background-color-theme2: #4b2f52;
// $background-color-theme2: #ff8800;
// $background-color-theme3: #522f2f;
// $background-color-theme2: pink;
// 綠2f5241 紅522f2f 藍2f3e52 紫4b2f52

/* ---------- Breakpoint ---------- */
$xs: 375px;
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1200px;
