$color-primary: #2f3e52;
// 主色
$background-color-theme1: #2f3e52;
$background-color-theme1: #2f5241;
$background-color-theme2: #522f2f;
// $background-color-theme2: #ff8800;
// $background-color-theme3: #522f2f;
// $background-color-theme2: pink;

/* ---------- Breakpoint ---------- */
$xs: 375px;
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1200px;
