.mainLayout {
  width: 100%;
  height: 100vh;

  .mainLayoutAside {
    position: fixed;
    z-index: 2;
    height: 100%;
    @include bg_color($background-color-theme1);
    color: #fff;
    transition: 0.5s;
    width: 200px !important;

    &.isCollapse {
      width: auto !important;
    }
  }

  .el-main {
    padding: 0;
    margin-left: 200px;

    &.withUp {
      margin-left: 70px;
    }
  }

  .viewHeight {
    padding-top: 4rem;
  }

  .el-menu {
    border-right: none;
  }

  .el-submenu__icon-arrow {
    top: 56% !important;
    right: 10px !important;
  }
}

.el-menu--vertical {
  border-top: 9px solid transparent;
  border-left: 4px solid transparent;
}
