#Login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;

  .loginTitle {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4d4f53;

    p:nth-child(odd) {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    p:nth-child(even) {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 2rem;
    }
  }

  .loginBox {
    position: relative;
    width: 460px;
    height: 340px;
    padding: 60px 80px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(47, 62, 82, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
  }

  .inputBox {
    text-align: center;
    // margin-top: 40px;
    margin-bottom: 1rem;

    el-input {
      width: 300px;
      font-size: 18px;
      height: 50px;
      background: #fff;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      border-radius: 5px;
      outline: none;
      padding: 5px 15px;

      &::placeholder {
        color: #cccccc;
      }
    }

    .el-input__prefix {
      color: #4d4f53;
    }

    label {
      display: block;
      color: #868686;
      margin-bottom: 5px;
      font-size: 18px;
    }
  }

  .loginHandler {
    width: 300px;
    height: 36px;
    cursor: pointer;
    margin-top: 1rem;
    background: #409eff;
    border-radius: 5px;
    padding: 5px 15px;
    color: #fff;
    font-size: 1rem;
    outline: none;
    border: none;
  }

  .identifyBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7px;

    input {
      outline: none;
      // margin-bottom: 1rem;
      height: 38px;
      text-align: center;
      width: 150px;
      border: 1px solid #dddddd;
      border-radius: 4px;
      margin: 0;
      padding: 0;
      margin-top: -5px;
    }
  }

  .changeCode {
    font-size: 13px;
    color: red;
    text-align: left;
  }
}
